.VideoRow{
    display: flex;
    margin-bottom: 30px;
    max-width: 720px;

}
.VideoRow > img{
    object-fit: contain;
    width:319.98px;
    height:179.53px;
}

.VideoRow__text{
    margin-left:15px;
}

.VideoRow__description{
    margin-top: 20px;
    font-size: 12px;
    color:#606060;
}

.VideoRow__headline{
    font-size: 12px;
    columns: #606060;
}
.subs{
    color:blue;
    padding: 2px;
    background-color: lightgray;
}